<form classs="form-group"action="/food/<=newId._id%>/comments" method="POST">
    <input class="form-control" type="text" name="comm[userName]" placeholder="name">
    <input class="form-control" type="text" name="comm[content]" placeholder="text">
    <button>OK</button>
</form>