<!--<h1>Admin Panel</h1>-->
<!--<form action="/admin" method="POST">-->
<!--    <input type="text" name="username" placeholder="User Admin">-->
<!--    <input type="password" name="password" placeholder="Password Admin">-->
<!--    <button>Submit</button>-->
<!--</form>-->